
<h1>COKE ZERO FINDER</h1>

<%= form_tag(create_coke_path, method: "post") do %>
<%= label_tag(:a, "Address:") %>
<%= text_field_tag(:a) %>
<%= label_tag(:c, "City:") %>
<%= text_field_tag(:c) %>
<%= label_tag(:s, "State:") %>
<%= text_field_tag(:s) %>
<%= label_tag(:z, "Zip Code:") %>
<%= text_field_tag(:z) %>

<%= submit_tag("Find Coke Zero") %>
<% end %>

<% if @output %>
  <h3>The closest Coke Zero to <%= @output %> is sold at:</h3>
  <ul>
    <% @coke_dealers.businesses.each do |result| %>
      <li><%= result.name %>, <%= result.location.address[0] %></li>
    <% end %>
  </ul>
  <% end %>
